<div class="register-container">
  <h1>Registrate</h1>
  <form [formGroup]="formRegister" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <label for="name">Nombre:</label>
      <input id="name" formControlName="name" />
    </div>

    <div class="form-row">
      <label for="email">Email:</label>
      <input id="email" formControlName="email" />
    </div>

    <div class="form-row">
      <button type="submit" [disabled]="formRegister.invalid">Registrar</button>
    </div>
  </form>

  <div class="menu">
    <a routerLink="/">Volver al menú</a>
  </div>
</div>
