<h1>Instrucciones del juego</h1>
<h2>Cómo Jugar</h2>
  
  <ol>
    <li><strong>Selecciona la Dificultad</strong>
      <ul>
        <li><strong>Fácil:</strong> x1 multiplicador</li>
        <li><strong>Medio:</strong> x2 multiplicador</li>
        <li><strong>Difícil:</strong> x3 multiplicador</li>
      </ul>
    </li>
    <li><strong>Responde las Preguntas</strong>
      <ul>
        <li>Cada pregunta tiene varias opciones. Elige la respuesta correcta.</li>
        <li><strong>Respuesta Correcta:</strong> Ganas tiempo extra.</li>
        <li><strong>Respuesta Incorrecta:</strong> Pierdes tiempo.</li>
      </ul>
    </li>
    <li><strong>Temporizador</strong>
      <ul>
        <li>Tienes un tiempo limitado para responder a todas las preguntas.</li>
        <li>Si el tiempo se agota, ¡pierdes el juego!</li>
      </ul>
    </li>
    <li><strong>Final del Juego</strong>
      <ul>
        <li>Si respondes todas las preguntas antes de que se acabe el tiempo, ¡ganas!</li>
      </ul>
    </li>
  </ol>
<div class="menu">
  <a routerLink="/register" >Jugar</a>
  <a routerLink="/" >Volver al menu</a>
</div>