<h1>Responde Correctamente</h1>
<div class="timer">Tiempo: {{this.time}}</div>
<div class="difficulty">Dificultad: {{this.difficulty}}</div>
<h3>Pregunta Numero: {{this.index + 1}}</h3>
<div>
    <div class="questions">
        @if (this.questions && this.questions.length > 0) {
            {{this.questions[this.index].description}}
        }@else {
            CARGANDO PREGUNTAS
        }
    </div>
    <ul>
        @if (this.answersPosibilities && this.answersPosibilities.length > 0) {
            <li (click)="onClickOption(this.answersPosibilities[0])">{{this.answersPosibilities[0].description}}</li>
            <li (click)="onClickOption(this.answersPosibilities[1])">{{this.answersPosibilities[1].description}}</li>
            <li (click)="onClickOption(this.answersPosibilities[2])">{{this.answersPosibilities[2].description}}</li>
        }@else {
            <li>CARGANDO RESPUESTAS</li>
        }
    </ul>
</div>